module.exports = {
  gdax: {
    'apiKey': '92560ffae9b8a01d012726c698bcb2f1',
    'secret': '9aHjPmW+EtRRKN/OiZGjXh8OxyThnDL4mMDre4Ghvn8wjMniAr5jdEZJLN/knW6FHeQyiz3dPIL5ytnF0Y6Xwg==', 
    'password': '6kszf4aci8r',
  },
};
